<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Add From Exel</title>
</head>

<body>
    <form class="bootstrap-form-with-validation" style="margin-right: 20px;margin-left: 20px;" method="POST"
        enctype="multipart/form-data" action="/lesson.html/add_lesson">
        <h2 class="text-center" style="margin-top: 30px;">IMPORT&nbsp;</h2>
        <div class="form-group">
            <div class="mx-auto file-drop-area"><span class="fake-btn">Choose files</span><span class="file-msg">or drag
                    and
                    drop files here</span><input name="file_excel" type="file" class="file-input" accept=".xls, .xlsx">
            </div>
            <div class="text-center mt-2 p-4">
                <div class="p-3"><button class="btn btn-info border rounded m-2" type="submit">ADD</button></div>
            </div>
        </div>
    </form>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/Drag-and-Drop-File-Input.js"></script>
    <script src="assets/js/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>