<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Detail Lesson</title>
</head>

<body>
    <div class="col-md-12 search-table-col" style="margin-top: 10px;">
        <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control"
                placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-2">Topic</th>
                        <th id="trs-hd" class="col-lg-6">Content</th>
                        <th id="trs-hd" class="col-lg-2">Số người học</th>
                        <th id="trs-hd" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>What is Java?</td>
                        <td><br>Java is a popular programming language, created in 1995.<br><br>It is owned by Oracle,
                            and more than 3 billion devices run Java.<br><br>It is used for:<br><br>Mobile applications
                            (specially Android apps)<br><br>Desktop applications<br><br>Web
                            applications<br><br>Web servers and application servers<br><br>Games<br><br>Database
                            connection<br><br><br>And much, much more!<br><br></td>
                        <td class="text-center">10</td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-pencil" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button></td>
                    </tr>
                    <tr>
                        <td>How Java works?</td>
                        <td><br>Java works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc.)<br><br>It is
                            one of the most popular programming language in the world<br><br>It is easy to learn and
                            simple to use<br><br>It is open-source and free<br><br>It
                            is secure, fast and powerful<br><br>It has a huge community support (tens of millions of
                            developers)<br><br>Java is an object oriented language which gives a clear structure to
                            programs and allows code to be reused, lowering
                            development costs<br><br>As Java is close to C++ and C#, it makes it easy for programmers to
                            switch to Java or vice versa<br><br></td>
                        <td class="text-center">3</td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-pencil" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button></td>
                    </tr>
                    <tr>
                        <td>Let's revise</td>
                        <td><br>Java works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc.)<br><br>It is
                            one of the most popular programming language in the world<br><br>It is easy to learn and
                            simple to use<br><br>It is open-source and free<br><br>It
                            is secure, fast and powerful<br><br>It has a huge community support (tens of millions of
                            developers)<br><br>Java is an object oriented language which gives a clear structure to
                            programs and allows code to be reused, lowering
                            development costs<br><br>As Java is close to C++ and C#, it makes it easy for programmers to
                            switch to Java or vice versa<br><br></td>
                        <td class="text-center">3</td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-pencil" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 style="margin-left: 15px;">Quiz</h1>
    <div class="col-md-12 search-table-col" style="margin-top: 10px;">
        <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control"
                placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-10">Question</th>
                        <th id="trs-hd" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5><br>Question 1:&nbsp;Which of the following statements is true about java?<br><br></h5>
                            <br>
                            <h6><br>A. Write once, bug everywhere<br></h6>
                            <h6 style="color: rgb(30,26,227);"><br>B. Write one, run everywhere<br></h6>
                            <h6><br>C. I don't know<br></h6>
                            <h6><br>D. All of above<br></h6>
                        </td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-pencil" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button>
                            <a class="btn btn-danger" role="button"
                                style="margin-left: 5px;background-color: rgb(248,215,42);" href="discussion.html"><i
                                    class="fa fa-comments-o" style="font-size: 15px;"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5><br>Question 2:&nbsp;What is a correct syntax to output "Hello World" in Java?<br><br>
                            </h5><br>
                            <h6><br>A. echo("Hello World");<br><br></h6>
                            <h6 style="color: rgb(30,26,227);"><br>B. System.out.println("Hello World");<br><br></h6>
                            <h6><br>C. print ("Hello World");<br><br></h6>
                            <h6><br>D. Console.WriteLine("Hello World");<br><br></h6>
                        </td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-pencil" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button>
                            <a class="btn btn-danger" role="button"
                                style="margin-left: 5px;background-color: rgb(248,215,42);" href="discussion.html"><i
                                    class="fa fa-comments-o" style="font-size: 15px;"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5><br>Question 3:&nbsp;How to initialization a String in Java?<br><br></h5><br>
                            <h6><br>A. string txt = "Xin chao";<br><br></h6>
                            <h6><br>B. String txt = "Xin chao"<br><br></h6>
                            <h6><br>C. var txt = "Xin chao";<br><br></h6>
                            <h6 style="color: rgb(30,26,227);"><br>D. String txt = "Xin chao";<br><br></h6>
                        </td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-pencil" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button>
                            <a class="btn btn-danger" role="button"
                                style="margin-left: 5px;background-color: rgb(248,215,42);" href="discussion.html"><i
                                    class="fa fa-comments-o" style="font-size: 15px;"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/Drag-and-Drop-File-Input.js"></script>
    <script src="assets/js/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>