<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Detail Lesson</title>
</head>

<body>
    <div class="col-md-12 search-table-col" style="margin-top: 10px;">
        <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control"
                placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-3">Topic</th>
                        <th id="trs-hd" class="col-lg-7">Content</th>
                        <th id="trs-hd" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each topic}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.content}}</td>
                        <td><a class="btn btn-danger" role="button"
                                style="margin-left: 5px;background-color: rgb(98,155,241); padding-left: 25px; padding-right: 25px; margin-top: 5px; margin-bottom: 5px"
                                href="lesson_detail.html">DETAIL</a>
                            <button class="btn btn-danger"
                                style="margin-left: 5px; padding-left: 25px; padding-right: 25px; margin-top: 5px; margin-bottom: 5px"
                                type="button">DELETE</button>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
    <h1 style="margin-left: 15px;">Quiz</h1>
    <div class="col-md-12 search-table-col" style="margin-top: 10px;">
        <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control"
                placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-10">Question</th>
                        <th id="trs-hd" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h5><br>Question 1:&nbsp;Which of the following statements is true about java?<br><br></h5>
                            <br>
                            <h6><br>A. Write once, bug everywhere<br></h6>
                            <h6 style="color: rgb(30,26,227);"><br>B. Write one, run everywhere<br></h6>
                            <h6><br>C. I don't know<br></h6>
                            <h6><br>D. All of above<br></h6>
                        </td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-pencil" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button>
                            <a class="btn btn-danger" role="button"
                                style="margin-left: 5px;background-color: rgb(248,215,42);" href="discussion.html"><i
                                    class="fa fa-comments-o" style="font-size: 15px;"></i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/Drag-and-Drop-File-Input.js"></script>
    <script src="assets/js/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>