<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pending request</title>
</head>

<body>
    <div class="card"></div>
    <div class="col-md-12 search-table-col" style="margin-top: 10px;">
        <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control"
                placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-1">User</th>
                        <th id="trs-hd" class="col-lg-2">Type Problem</th>
                        <th id="trs-hd" class="col-lg-3">Messenger From User</th>
                        <th id="trs-hd" class="col-lg-2">Report From</th>
                        <th id="trs-hd" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="warning no-result">
                        <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                    </tr>
                    <tr>
                        <td>VuHaNam</td>
                        <td>Quiz Error</td>
                        <td>The question 1 at Quiz 1 has wrong anwser</td>
                        <td>Question 1 - Quiz 1</td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-check" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button></td>
                    </tr>
                    <tr>
                        <td>VuHaNam</td>
                        <td>System error</td>
                        <td>Application crashes when I click on Program tab<br></td>
                        <td>FAQ</td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-check" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/Drag-and-Drop-File-Input.js"></script>
    <script src="assets/js/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>