<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Detail Program</title>
</head>

<body>
    <div class="col-md-12 search-table-col" style="margin-top: 10px;">
        <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control"
                placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-2">Topic</th>
                        <th id="trs-hd" class="col-lg-6">Content</th>
                        <th id="trs-hd" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">Hello Word</td>
                        <td><br>
                            <p
                                style="font-family: 'Cutive Mono', monospace;background-color: #f0f0f0;padding-left: 10px;padding-right: 10px;padding-top: 2px;padding-bottom: 2px;white-space: nowrap;overflow-x: scroll;">
                                <br>public class HelloWorld {<br><br>&nbsp;&nbsp;public static void main(String[] args)
                                {<br><br>&nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Hello World, I'm
                                JavaLabs");<br><br>&nbsp;&nbsp;}<br><br>}<br><br></p><br><br>
                        </td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-pencil" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button></td>
                    </tr>
                    <tr>
                        <td class="text-center">Add Two Number</td>
                        <td><br>
                            <p
                                style="font-family: 'Cutive Mono', monospace;background-color: #f0f0f0;padding-left: 10px;padding-right: 10px;padding-top: 2px;padding-bottom: 2px;white-space: nowrap;overflow-x: scroll;">
                                public class AddTwoNumber {<br><br>&nbsp;&nbsp;public static void main(String[] args)
                                {<br><br>&nbsp;&nbsp;&nbsp;&nbsp;int firstNumber = 1;<br><br>&nbsp;&nbsp;&nbsp;&nbsp;int
                                secondNumber = 3;<br><br>&nbsp;&nbsp;&nbsp;&nbsp;int
                                sum = firstNumber + secondNumber;<br><br>&nbsp;&nbsp;&nbsp;&nbsp;System.out.println("The
                                sum of number is: "+sum);<br><br>&nbsp;&nbsp;}<br><br>}</p><br>
                        </td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-pencil" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button></td>
                    </tr>
                    <tr>
                        <td class="text-center">If else</td>
                        <td>
                            <p
                                style="font-family: 'Cutive Mono', monospace;background-color: #f0f0f0;padding-left: 10px;padding-right: 10px;padding-top: 2px;padding-bottom: 2px;white-space: nowrap;overflow-x: scroll;">
                                <br>public class IfElseDemo {<br><br>&nbsp;&nbsp;public static void main(String[] args)
                                {<br><br>&nbsp;&nbsp;&nbsp;&nbsp;int firstNumber = 1;<br><br>&nbsp;&nbsp;&nbsp;&nbsp;int
                                secondNumber = 3;<br><br>&nbsp;&nbsp;&nbsp;&nbsp;if(firstNumber
                                &gt; secondNumber){<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Case
                                1");<br><br>&nbsp;&nbsp;&nbsp;&nbsp;}else{<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Case
                                2");<br><br>&nbsp;&nbsp;&nbsp;&nbsp;}<br><br>&nbsp;&nbsp;}<br><br>}<br><br><br></p><br>
                        </td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-pencil" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button></td>
                    </tr>
                    <tr>
                        <td class="text-center">Switch Statement</td>
                        <td>
                            <p
                                style="font-family: 'Cutive Mono', monospace;background-color: #f0f0f0;padding-left: 10px;padding-right: 10px;padding-top: 2px;padding-bottom: 2px;white-space: nowrap;overflow-x: scroll;">
                                public class SwitchCase {<br><br>&nbsp;&nbsp;public static void main(String[] args)
                                {<br><br>&nbsp;&nbsp;&nbsp;&nbsp;int firstNumber =
                                1;<br><br>&nbsp;&nbsp;&nbsp;&nbsp;switch(firstNumber){<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;case
                                1 :<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Case
                                1");<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;case
                                2:<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Case
                                2");<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;default:&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Defaut
                                case");<br><br>&nbsp;&nbsp;&nbsp;&nbsp;}<br><br>&nbsp;&nbsp;}<br><br>}</p><br><br>
                        </td>
                        <td><button class="btn btn-success" style="margin-left: 5px;" type="submit"><i
                                    class="fa fa-pencil" style="font-size: 15px;"></i></button><button
                                class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash"
                                    style="font-size: 15px;"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/Drag-and-Drop-File-Input.js"></script>
    <script src="assets/js/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>