<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Detail Program</title>
</head>

<body>
    <div class="col-md-12 search-table-col" style="margin-top: 10px;">
        <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control"
                placeholder="Search by typing here.."></div><span class="counter pull-right"></span>
        <div class="table-responsive table-bordered table table-hover table-bordered results">
            <table class="table table-bordered table-hover">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd" class="col-lg-2">Topic</th>
                        <th id="trs-hd" class="col-lg-6">Content</th>
                        <th id="trs-hd" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each program}}
                    <tr>
                        <td class="text-center">{{this.title}}</td>
                        <td>
                            <p
                                style="font-family: 'Cutive Mono', monospace;background-color: #f0f0f0;padding-left: 10px;padding-right: 10px;padding-top: 2px;padding-bottom: 2px;white-space: wrap;overflow-x: scroll;">
                                <br>{{this.content}}<br>
                            </p>
                        </td>
                        <td><a class="btn btn-danger" role="button"
                                style="margin-left: 5px;background-color: rgb(98,155,241); padding-left: 27px; padding-right: 27px; margin-top: 5px; margin-bottom: 5px"
                                href="lesson_detail?lessonId={{this._id}}">UPDATE</a>
                            <form action="lesson.html/detete_lesson" method="post">
                                <button class="btn btn-danger"
                                    style="margin-left: 5px; padding-left: 27px; padding-right: 27px; margin-top: 5px; margin-bottom: 5px"
                                    type="submit" name="id" value="{{this._id}}">DELETE</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/Drag-and-Drop-File-Input.js"></script>
    <script src="assets/js/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>